
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url(Assets/background-image.png);
    background-position: bottom;
    background-repeat: no-repeat;
    margin: auto;
    background-position-y: 109% ;
    overflow:hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
    font-size: 1em;
    height: 10vh;
}
nav ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}
nav .search{
    width: 7.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    height: 2.4em;
    width: 5.8em;
    background-color: #ed017f;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
}

/* Nav bar ended */

/* background start */

.background{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8%;
    margin-left: 7%;
    height: 90vh;
}
.background .right{
    position: relative;
}
.background .right .hero-image{
    transform: translateY(-5%)
}
.background .right .car,.home{
        position: absolute;
        font-size: 1em;
        height: 8%;
        width: 17%;
        border-radius: 55px;
        outline: none;
        border: none;
        box-shadow:0 0 25px rgba(0, 0, 0, 0.58);
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0.5rem 0.5rem;

}
.background .right .home{
    top: 22%;
    right: 12%;
}
.background .right .car{
    top: 4%;
    left: 10.5%;
}
.background .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8%;
    min-width: 30%;
    height: 40vh;
}
.background .left h1{
    font-size: 4em;
}

.background .left p{
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.58);
}
.background .left .left_btn button{
    font-size: 0.9em;
    padding: 15px 15px 12px 20px;
    background-color: #ed017f;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    /* margin-top: 20px; */
}
.background .left .left_btn .CALCULATOR{
        color: #ed017f;
        background-color: transparent;
        outline: #ed017f;
        border: 1px solid #ed017f;
        margin-left: 15px;
}
.background .left .last_line{
    padding-top: 10%;
}
.background .left .last_line pre{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.6em;

}




